Solr/src/main/resources/mufc_genrec_index/data
Solr/src/main/resources/mufc_genrec_index/core.properties
Solr/src/main/resources/mufc_generic_index_swp/data
Solr/src/main/resources/mufc_generic_index_swp/core.properties
Solr/src/main/resources/mufc_videorec_index/data
Solr/src/main/resources/mufc_videorec_index/core.properties
Solr/src/main/resources/mufc_videorec_index/data
Solr/src/main/resources/mufc_videorec_index/core.properties
Solr/src/main/resources/sitecore_contents_index/data
Solr/src/main/resources/sitecore_contents_index/core.properties
Solr/src/main/resources/sitecore_contents_index_rebuild/data
Solr/src/main/resources/sitecore_contents_index_rebuild/core.properties
Solr/src/main/resources/sitecore_core_index/data
Solr/src/main/resources/sitecore_core_index/core.properties
Solr/src/main/resources/sitecore_executiveclub_index/data
Solr/src/main/resources/sitecore_executiveclub_index/core.properties
Solr/src/main/resources/sitecore_master_index/data
Solr/src/main/resources/sitecore_master_index/core.properties
Solr/src/main/resources/sitecore_matchdayvip_index/data
Solr/src/main/resources/sitecore_matchdayvip_index/core.properties
Solr/src/main/resources/sitecore_mufoundation_index/data
Solr/src/main/resources/sitecore_mufoundation_index/core.properties
Solr/src/main/resources/sitecore_unitedevents_index/data
Solr/src/main/resources/sitecore_unitedevents_index/core.properties
Solr/src/main/resources/sitecore_unpublished_contents_index/data
Solr/src/main/resources/sitecore_unpublished_contents_index/core.properties
Solr/src/main/resources/sitecore_unpublished_contents_index/data
Solr/src/main/resources/sitecore_unpublished_contents_index/core.properties
Solr/src/main/resources/sitecore_web_index/data
Solr/src/main/resources/sitecore_web_index/core.properties
Solr/src/main/resources/trending_video_index/data
Solr/src/main/resources/trending_video_index/core.properties
Solr/src/main/resources/trending_video_index_swp/data
Solr/src/main/resources/trending_video_index_swp/core.properties
Solr/src/main/resources/configsets
Solr/src/main/resources/README.txt
Solr/src/main/resources/solr.xml
Solr/src/main/resources/zoo.cfg